<div class="password-reset-container">
    <div class="header">
        <h2>Password Reset</h2>
        <button class="close-button" (click)="onCloseClick()">X Close</button>
      </div>
      
    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
      <label for="newPassword">Enter New Password *</label>
      <input type="password" id="newPassword" name="newPassword" required formControlName="newPassword">
      <div *ngIf="newPasswordForm.get('newPassword')?.hasError('required') && newPasswordForm.get('newPassword')?.touched" class="validation-message">
        New password is required.
      </div>   
      <div *ngIf="newPasswordForm.get('newPassword')?.hasError('invalidPassword') && newPasswordForm.get('newPassword')?.touched" class="validation-message">
        Password must be at least 6 characters and include one special character, one number, one uppercase letter, and one lowercase letter.
      </div>
      <br>
      <br>
      <button class="submit-button">Submit</button>
    </form>
  </div>
  
  