

<div class="change-password-container">
    <div class="header">
      <h2>Change Password</h2>
      <button class="close-button" (click)="onCloseClick()">X Close</button>
    </div>   
   
    <div *ngIf="passwordChangeSuccess" class="success-message">
      Password changed successfully!
    </div>
    <div *ngIf="!userData" class="login-reminder">
      Please Enter Your Email Id and login in login page.
    </div>    
    <form [formGroup]="changePasswordForm"  (ngSubmit)="onSubmit()">
      <div class="form-group">    
        <label for="currentPassword">Enter Current Password *</label>
        <input type="password" id="currentPassword" name="currentPassword" required formControlName="currentPassword">
        <div *ngIf="changePasswordForm.get('currentPassword')?.hasError('incorrectPassword')" class="validation-message">
          Incorrect current password.
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword">Enter New Password *</label>
        <input type="password" id="newPassword" name="newPassword" required formControlName="newPassword">
        <div *ngIf="changePasswordForm.get('newPassword')?.hasError('required') && changePasswordForm.get('newPassword')?.touched" class="validation-message">
          New password is required.
        </div>   
        <div *ngIf="changePasswordForm.get('newPassword')?.hasError('invalidPassword') && changePasswordForm.get('newPassword')?.touched" class="validation-message">
          Password must be at least 6 characters and include one special character, one number, one uppercase letter, and one lowercase letter.
        </div>
        <div *ngIf="changePasswordForm.get('newPassword')?.hasError('sameAsCurrentPassword')" class="validation-message">
          New password cannot be the same as the current password.
        </div>
      </div>
      <div class="form-group">
        <label for="retypePassword">Retype Password *</label>
        <input type="password" id="retypePassword" name="retypePassword" required formControlName="retypePassword">
        <div *ngIf="changePasswordForm.get('retypePassword')?.hasError('passwordMismatch') && changePasswordForm.get('retypePassword')?.touched" class="validation-message">
          Passwords do not match.
        </div>
      </div>
      <button type="submit">Change Password</button>
    </form>
  </div>
  