
.employee-page {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  margin-bottom: 20px;
}

.addNew-button,
.close-button {
  background: #4caf50;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 10px 15px; 
  border-radius: 5px;
}

.search-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 15px;
  align-self: flex-end;
}

.search-button:hover {
  background-color: #0056b3; 
}

.search-field {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 5px;
}




.employee-table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
} 


.update-button, .delete-button {
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
}

.delete-button {
  background-color: #f44336; 
}

.update-button:hover {
  background-color: #0056b3; 
}

.delete-button:hover {
  background-color: #d32f2f; 
}


