<div class="forget-password-container">
    <div class="header">
        <h2>Forget Password</h2>
        <button class="close-button" (click)="onCloseClick()">X Close</button>
      </div>
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>
      
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()">
      <label for="EmailId">Registered Email ID</label>
      <input type="EmailId" id="EmailId" name="EmailId" formControlName="EmailId" required />
      <div *ngIf="forgotPasswordForm.get('EmailId')?.hasError('required') && forgotPasswordForm.get('EmailId')?.touched" class="validation-message">
        Email Id is required.
      </div>
      <div *ngIf="forgotPasswordForm.get('EmailId')?.hasError('email') && forgotPasswordForm.get('EmailId')?.touched" class="validation-message">
        Invalid Email ID.
      </div>
      <div *ngIf="forgotPasswordForm.get('EmailId')?.hasError('notRegistered') && forgotPasswordForm.get('EmailId')?.touched" class="validation-message">
        Email ID is not registered; please proceed to the New User Registration page to sign up.
      </div>
      <br>
      <br>
      <button class="submit-button">Submit</button>
    </form>
  </div>
  
  